@charset "utf-8";

*,:after,:before{box-sizing:border-box}
img {border:0em;max-width:100%;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
ul,li{list-style-type:none;margin:0;padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;-webkit-text-size-adjust: none;}
h1,h2,h3,h4,h5,h6,p{font-weight:normal;margin:0;}
body {font-family:Arial, Helvetica, sans-serif;margin:0 auto;padding:0;font-size:16px;position:relative;}
.oculto{display:none}

header{padding:0 10vw 16px;display:flex;justify-content:space-between;align-items:flex-end;height:80px;position:relative}
header a.logo{background:url(../img/logo-mimo.png) no-repeat 0 0;background-size:163px 42px;width:163px;height:42px;}
header nav{margin-right:180px;}
header nav ul li{display:inline-block;margin:0 16px;}
header nav ul li a{color:#000000;font-size:14px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;transition:all .4s;padding-bottom:13px;}
header nav ul li a:hover,header nav ul li a.activo{color:#DC1515;border-bottom:3px solid #DC1515;}

aside{position:absolute;right:10vw;top:0;width:148px;padding:20px 0 5px;z-index:20}
aside li{display:inline-block;margin:0 5px;}
aside li a.en{background:url(../img/US.svg) no-repeat 0 0;width:36px;height:36px;background-size:36px 36px;text-indent:-9999px;display:block}
aside li a.es{background:url(../img/Spain.svg) no-repeat 0 0;width:36px;height:36px;background-size:36px 36px;text-indent:-9999px;display:block}
aside li a.ch{background:url(../img/China.svg) no-repeat 0 0;width:36px;height:36px;background-size:36px 36px;text-indent:-9999px;display:block}

main#home{background:url(../img/fondo-home.jpg) no-repeat center right fixed;background-size:cover;width:100%;}
main#servicios{background:url(../img/fondo-servicios.jpg) no-repeat center right fixed;background-size:cover;width:100%;}
main#equipo{background:url(../img/fondo-equipo.jpg) no-repeat center center fixed;background-size:cover;width:100%;}
main#contacto{background:url(../img/fondo-contacto.jpg) no-repeat top right fixed;background-size:cover;width:100%;}
main article{display:flex;justify-content:center;align-items:center;flex-direction:column;}
main article:first-of-type{height:calc(100vh - 80px);}
main article h1{font-size:36px;font-family:Arial, Helvetica, sans-serif;text-align:center;padding:5vw 2vw;color:#ffffff;width:60%;animation:fade1 2s forwards 1s;opacity:0;transform:translateY(40px);letter-spacing:1px;}
main article h2{font-family:Arial, Helvetica, sans-serif;font-size:26px;line-height:30px;text-align:center;padding:5vw 2vw;width:50%;color:#ffffff;animation:fade2 2s forwards 2s;opacity:0;transform:translateY(60px);letter-spacing:1px;}
main article > img{max-width:94px;animation:fadeImagen 1s forwards 1s;opacity:0;}
@keyframes fade1{
    0%{opacity:0;transform:translateY(40px);}
    100%{opacity:1;transform:translateY(0);}
}
@keyframes fade2{
    0%{opacity:0;transform:translateY(60px);}
    100%{opacity:1;transform:translateY(0);}
}
@keyframes fadeImagen{
    to{opacity:1;}
}
#home .sub{padding:10vh 0;background-color:#ffffff;margin-bottom:10vh;}
#home .sub ul{display:flex;flex-wrap:wrap;}
#home .sub ul li:first-of-type{width:55%;margin-right:5%;position:relative;background:url(../img/que-es.jpg) no-repeat right center;background-size:cover;}
#home .sub ul li:first-of-type:after{content:'';position:absolute;top:50%;transform:translateY(-50%);height:80%;width:40px;background-color:#DC1515;right:-20px}
#home .sub ul li:last-of-type{width:30%;}
#home .sub ul img{width:100%;}
#home .sub ul p{margin-bottom:24px;font-size:18px;line-height:24px;}
#servicios .sub,#equipo .sub{margin-bottom:10vh;}
#servicios .sub ul,#equipo .sub ul{display:flex;height:50vh;flex-wrap:wrap;}
#servicios .sub ul li,#equipo .sub ul li{width:calc(100vw / 3);display:flex;justify-content:center;align-items:center;color:#ffffff;line-height:30px;font-size:20px;padding:4vw}
#servicios .sub ul li:nth-child(1),#equipo .sub ul li:nth-child(1){background-color:#DC1515;}
#servicios .sub ul li:nth-child(2),#equipo .sub ul li:nth-child(2){background-color:#9B1111;}
#servicios .sub ul li:nth-child(3){background-color:#550A0A;}
#equipo .sub ul li:nth-child(3){padding:0;}
#equipo .sub ul li img{height:100%;width:100%}
#equipo .mapa ul{display:flex;align-items:flex-end;}
#equipo .mapa ul li:first-of-type{display:flex;width:25vw;color:#ffffff;font-size:20px;line-height:30px;margin:0 0 10vh 5vw;}
#equipo .mapa ul li:first-of-type img{max-width:128px;margin-right:20px;}
#contacto .sub{background-color:#ffffff;padding:10vh 0;}
#contacto .sub h3{text-align:center;line-height:24px;font-size:18px;margin:0 4vw;}
#contacto .sub > ul{margin:4vh 0}
#contacto .sub > ul li{display:inline-block;margin:0 2vw;}
#contacto .sub > ul li a{color:#000000;font-size:20px;}
#contacto form{display:flex;justify-content:space-between;width:70%;flex-wrap:wrap;}
#contacto form ul{width:50%}
#contacto form ul li label{font-size:16px;display:block;margin-bottom:5px;}
#contacto form ul li .caja{border:1px solid #DC1515;border-radius:10px;padding:5px;font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#000000;display:block;margin-bottom:20px;height:40px;display:block;width:100%;}
#contacto form ul li textarea{border:1px solid #DC1515;border-radius:10px;padding:5px;font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#000000;display:block;margin-bottom:20px;height:100px;display:block;width:100%;}
#contacto form img{width:45%;margin-left:5%;}
#contacto form ul li input[type="submit"]{background-color:#DC1515;color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-size:18px;text-align:center;display:inline-block;border:0;-webkit-appearance:none;border-radius:10px;height:50px;width:150px;margin-top:20px;}
#contacto form ul li input[type="checkbox"]{width:20px;height:20px;border:1px solid #DC1515;display:inline-block;vertical-align:middle;margin-right:5px;}
#contacto form ul li span{display:inline-block;vertical-align:middle;width:calc(100% - 30px)}
#contacto form ul li span a{color:#000000;transition:.5s all;text-decoration:underline;}
#contacto form ul li span a:hover{color:#DC1515;}
#contacto form ul li p{display:none;font-size:20px;line-height:30px;margin-top:20px}
footer{border-top:10px solid #DC1515;background-color:#000000;padding-bottom:30px;}
footer img{display:block;margin:20px auto;max-width:212px;}
footer ul{display:flex;justify-content:center;}
footer ul li{margin:1vw;text-align:center;}
footer ul li a{color:#ffffff;font-size:16px;transition:.5s all;text-decoration:none;}
footer ul li a:hover{color:#DC1515;text-decoration:underline;}
.legal{padding:4vw;}
.legal p{font-size:14px;line-height:24px;margin-bottom:16px;}
.legal p.titulo,.legal p span{color:#DC1515;font-size:16px;}
    
@media only screen and (max-width:768px) {
    header nav{margin-right:0;}
    aside{right:inherit;left:0px;top:100px;width:auto;padding:10px;}
    aside li{display:block;margin:10px 0;}
    main article h1,main article h2,#contacto form{width:90%}
    #equipo .mapa ul li:first-of-type{width:0;margin:0 0 5vh 5vw;}
}
@media only screen and (max-width:767px) {
    header{padding:0 5vw;align-items:center}
    header a.logo{background:url(../img/logo-mimo.png) no-repeat 0 0;background-size:116px 30px;width:116px;height:30px;}
    header nav{margin-right:0;position:absolute;top:70px;background-color:#ffffff;right:-50vw;width:50vw;transition:.4s all;z-index:10;display:none}
    header nav ul li{display:block;padding:10px;margin:0;} 
    header nav ul li:last-of-type{border-bottom:0;}
    header nav ul li a{padding-bottom:0;}
    header nav.open{right:0;display:block}
    
    .menu{width:35px;height:20px;margin:0;cursor:pointer;display:inline-block;position:absolute;right:5vw;top:25px;}
    .menu span{background-color:#000;position:absolute;border-radius:2px;transition:.3s cubic-bezier(.8, .5, .2, 1.4);width:100%;height:4px;transition-duration: 500ms}
    .menu span:nth-child(1){top:0px;left:0px;}
    .menu span:nth-child(2){top:8px;left:0px;}
    .menu span:nth-child(3){bottom:0px;left:0px;}
    .click-menu{height:0;}
    .click-menu span:nth-child(1){transform:rotate(45deg);top:8px;}
    .click-menu span:nth-child(2){transform:scale(.1);}
    .click-menu span:nth-child(3){transform:rotate(-45deg);top:8px;}
        
    main#home{background:url(../img/fondo-home-m.jpg) no-repeat center;background-size:cover;width:100%;height:100vh;}
    main#servicios{background:url(../img/fondo-servicios-m.jpg) no-repeat center;background-size:cover;width:100%;height:100vh;}
    main#equipo{background:url(../img/fondo-equipo-m.jpg) no-repeat center;background-size:cover;width:100%;height:100vh;}
    main#contacto{background:url(../img/fondo-contacto-m.jpg) no-repeat top;background-size:cover;width:100%;height:100vh;}
    main article h1{font-size:24px;}
    main article > img{max-width:70px;}
    main article h2{font-size:16px;line-height:20px;}
    #home .sub{padding:5vh 0;margin-bottom:5vh;;}
    #home .sub ul li:first-of-type{width:100%;margin-right:0;height:200px;}
    #home .sub ul li:first-of-type:after{content:'';position:absolute;top:calc(100% - 6px);transform:none;height:12px;width:80%;background-color:#DC1515;left:0;right:0;margin:0 auto;}
    #home .sub ul li:last-of-type{width:100%;padding:4vw;}
    #home .sub ul p{font-size:16px;line-height:20px;}
    #servicios .sub{margin-bottom:5vh;}
    #servicios .sub ul li, #equipo .sub ul li{width:100%;font-size:16px;line-height:24px;}
    #equipo .sub{margin-bottom:0;}
    #equipo .sub ul li:nth-child(3){display:none;}
    #equipo .mapa{background-color:rgba(0,0,0,0.5);}
    #equipo .mapa ul{flex-direction:column-reverse;flex-wrap:wrap;align-items:flex-start;}
    #equipo .mapa ul li:first-of-type{width:95vw;font-size:16px;line-height:24px;}
    #equipo .mapa ul li:first-of-type img{max-width:80px;}
    #equipo .mapa ul li:last-of-type img{mix-blend-mode:color-dodge;}
    #contacto .sub > ul{margin:4vh 4vw;}
    #contacto .sub > ul li{margin:0 1vw;}
    #contacto .sub > ul li a{font-size:14px;}
    #contacto form{flex-direction:column-reverse;}
    #contacto form ul{width:100%}
    #contacto form img{width:100%;margin-left:0;margin-bottom:3vh;}
    #contacto form ul li p{font-size:16px;line-height:24px;}

    footer img{max-width:150px;}
    footer ul li a{font-size:14px;}
}